<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792755540546-irdnnab23gr1qrdh02i21gmn3olisl6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792755540546-irdnnab23gr1qrdh02i21gmn3olisl6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBidbZwRp51irWsUMdTbKLIuNRux6YG9Nk</string>
	<key>GCM_SENDER_ID</key>
	<string>792755540546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noone.escape</string>
	<key>PROJECT_ID</key>
	<string>no-one-escape-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>no-one-escape-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792755540546:ios:0d20fdee7362e768e6d3db</string>
	<key>DATABASE_URL</key>
	<string>https://no-one-escape-ios.firebaseio.com</string>
</dict>
</plist>